asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.1
dj-database-url==2.3.0
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
EditorConfig==0.17.0
Faker==37.3.0
gunicorn==20.1.0
idna==3.10
jsbeautifier==1.15.1
json5==0.10.0
pathspec==0.12.1
pillow==11.1.0
python-dotenv==0.21.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.8.2
